@model WebsiteSellingBonsaiAPI.Models.Order
@using WebsiteSellingBonsaiAPI.DTOS.Constants

<h2>Chi tiết đơn hàng</h2>

<div>
    <p><strong>Người mua hàng:</strong> @Model.CreatedBy</p>
    <p><strong>Địa chỉ giao hàng:</strong> @Model.Address</p>
    <p><strong>Status:</strong> @Model.Status</p>
    <p><strong>Phương thức thanh toán:</strong> @Model.PaymentMethod</p>
    <p><strong>Tổng tiền:</strong> @Model.Total.ToString("F3") vnđ</p>
    <p><strong>Người cập nhật cuối:</strong> @Model.UpdatedBy</p>
    <p><strong>Cập nhật cuối lúc:</strong> @Model.UpdatedDate</p>
</div>

<h3>Chi tiết sản phẩm</h3>
<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OrderDetails == null)
        {
            <h3>KO có OrderDetails</h3>
        }
        else
        {
            foreach (var detail in Model.OrderDetails)
            {
                <tr>
                    <td>@detail.Bonsai.BonsaiName</td>
                    <td>@detail.Quantity</td>
                    <td>@detail.Price.ToString("F3")</td>
                    <td>@((detail.Quantity * detail.Price).ToString("F3")) vnđ</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr style="height:100px"></tr>
        <tr>
            <td>
                @if (Model.Status != StatusOrder.Order_Completed && Model.Status != StatusOrder.Order_Cancelled)
                {
                    <button class="btn btn-outline-light text-danger" popovertarget="FormCancelOrder">
                        Hủy đơn hàng
                    </button>
                }
            </td>
            <td></td>
            <td></td>
			<td>
                <a asp-action="Index"><button type="submit" class="btn btn-outline-primary">Quay lại</button></a>
                @if(Model.Status == StatusOrder.NotConfirmed){
                    <form asp-action="Comfirm">
                        <input type="hidden" name="ORDER_ID" value="@Model.ORDER_ID" />
                        <button type="submit" class="btn btn-outline-success">Xác nhận đơn hàng</button>
                    </form>
                }
                else if (Model.Status == StatusOrder.On_Delivery)
                {
                    <form asp-action="ComfirmCompleted">
                        <input type="hidden" name="ORDER_ID" value="@Model.ORDER_ID" />
                        <button type="submit" class="btn btn-outline-success">Xác nhận đơn hàng đã giao thành công</button>
                    </form>
                }
            </td>
        </tr>
    </tfoot>
</table>
@{
    var scheme = Context.Request.Scheme; // http hoặc https
    var host = Context.Request.Host; // Tên miền và cổng
    var path = Context.Request.Path; // Đường dẫn
    var queryString = Context.Request.QueryString; // Chuỗi truy vấn

    var url = $"{scheme}://{host}{path}{queryString}";
}
<div id="FormCancelOrder" popover>
    <form asp-action="CancelOrder" method="post">
        <h3>Vui lòng nhập lý do hủy</h3>
        <input type="hidden" name="ORDER_ID" value="@Model.ORDER_ID" />
        <input type="hidden" name="LinkUrl" value="@url" />

        <input type="text" name="cancelReason" maxlength="200" value="" />
        <button type="submit" class="btn btn-primary">Xác nhận hủy</button>
    </form>
</div>