@model WebsiteSellingMiniBonsai.Models.Bonsai

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bonsai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BonsaiName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BonsaiName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="@Url.Content("~/" + Model.Image)" alt="Product Image" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <span>No Image Available</span>
            }
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FengShuiMeaning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FengShuiMeaning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinLife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinLife)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLife)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralMeaning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralMeaning.Meaning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
