@model IEnumerable<WebsiteSellingBonsaiAPI.DTOS.View.BonsaiDTO>

@{
    ViewData["Title"] = "Index";
}

<style>
    .img_show_preview {
    display: inline-block;
    max-height: 50px;
    max-width: 100px;
    position: relative;
    }
    .img_show_preview .img1 {
        max-height: 50px;
        max-width: 100px;
    }
    .img_show_preview .img2 {
        max-height: 200px;
        max-width: 400px;
        position: absolute;
        left: 0;
        top : -50%;
          transform: translateY(-50%);
        display: none
    }
    .img_show_preview:hover .img2 {
        display: block
    }
</style>

<h1>Index</h1>

<div class="card card-success card-outline">
    <div class="card-header">
        <div class="row">
            <div class="col-md"><h3 class="card-title">Bonsais</h3></div>
            <div class="col-md-auto">
                <button id="btnAdd" type="button" class="btn btn-success">
                   <a asp-action="Create" class="text-white text-decoration-none"><i class="fa-light fa-add me-1"></i> Add new</a>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
         <div class="table-responsive ">
            <table id="myTable" class="table table-bordered table-hover">
                <div class="bg-light text-center" style="height:50px"></div>
                <thead>
                    <tr>
                        <th>
                                        @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                                        @Html.DisplayNameFor(model => model.BonsaiName)
                        </th>       
                         <th>
                                        @Html.DisplayNameFor(model => model.Price)
                        </th>
                         <th>
                                         @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                                        @Html.DisplayNameFor(model => model.GeneralMeaning.Meaning)
                        </th>
                        <th>
                                        @Html.DisplayNameFor(model => model.Style)
                        </th>
                        <th>
                                        @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                                        Lượt yêu thích
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ImageOld))
                                {
                                    <div class="img_show_preview" style="background-image: url('@Url.Content("~/" + item.ImageOld)')">
                                        <img src="@Url.Content("~/" + item.ImageOld)" alt="Product Image" class="img1"/>
                                        <img src="@Url.Content("~/" + item.ImageOld)" alt="Product Image" class="img2"/>
                                    </div>
                                }
                                else
                                {
                                    <div class="img_show_preview" style="background-image: url('@Url.Content("~/" + item.ImageOld)')">
                                        <img src="/Data/noimage.png" alt="Product Image" class="img1"/>
                                        <img src="/Data/noimage.png" alt="Product Image" class="img2"/>
                                    </div>
                                }
                            </td>
                            <td>
                                            @Html.DisplayFor(modelItem => item.BonsaiName)
                            </td>
                             <td>
                                            @item.Price.ToString("F3") vnđ
                            </td>
                             <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                            @Html.Raw(item.GeneralMeaning.Meaning)
                            </td>
                            <td>
                                             @Html.Raw(item.Style.Name)
                            </td>
                            <td>
                                             @Html.Raw(item.Type.Name)
                            </td>
                            <td>
                                            @Html.Raw(item.CountFav)
                            </td>
                            <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fa-sharp-duotone fa-regular fa-pen-to-square" style="color: blue"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.Id" title="View"><i class="fa-duotone fa-solid fa-eye" style="--fa-primary-color: #24a36c; --fa-secondary-color: #24a36c;"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="fa-duotone fa-regular fa-trash" style="--fa-primary-color: #ff0000; --fa-secondary-color: #ff0000;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>