@model IEnumerable<WebsiteSellingBonsaiAPI.DTOS.BonsaiDTO>

@{
    ViewData["Title"] = "Index";
}

<style>
    .img_show_preview {
    display: inline-block;
    max-height: 50px;
    max-width: 100px;
    position: relative;
    }
    .img_show_preview {
    display: inline-block;
    max-height: 50px;
    max-width: 100px;
    position: relative;
    }
    .img_show_preview {
    display: inline-block;
    max-height: 50px;
    max-width: 100px;
    position: relative;
    }
    .img_show_preview .img1 {
        max-height: 50px;
        max-width: 100px;
    }
    .img_show_preview .img2 {
        max-height: 200px;
        max-width: 400px;
        position: absolute;
        left: 0;
        top : 0;
        display: none
    }
    .img_show_preview:hover .img2 {
        display: block
    }
</style>

<h1>Index</h1>

<div class="card card-success card-outline">
    <div class="card-header">
        <div class="row">
            <div class="col-md"><h3 class="card-title">Bonsais</h3></div>
            <div class="col-md-auto">
                <button id="btnAdd" type="button" class="btn btn-success">
                   <a asp-action="Create" class="text-white text-decoration-none"><i class="fa-light fa-add me-1"></i> Add new</a>
                </button>
            </div>
        </div>
        @{
            var options = new List<string> { "BonsaiName", "Description", "FengShuiMeaning", "Price", "Quantity" };
            var selectedOption = ViewData["search_by"]?.ToString();
        }

        <form asp-action="Index" method="post" class="row g-2 p-3 border rounded shadow-sm bg-light mt-2">
            <div class="col-auto border text-center">
                <label for="searchBy" class="form-label fw-bold">Search By</label>
                <select id="searchBy" name="search_by" class="form-select">
                            @foreach (var option in options)
                            {
                            <option value="@option">@option</option>
                            }
                </select>
            </div>
            <div class="col">
                <input type="text" id="searchInput" name="search" class="form-control" placeholder="Enter keyword..." value="@(ViewData["search"] ?? "")" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary d-flex align-items-center">
                    <i class="bi bi-search me-1"></i> Search
                </button>
            </div>
        </form>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var selectedOption = '@selectedOption';
                var selectElement = document.getElementById('searchBy');

                if (selectElement && selectedOption){
                    for (var i = 0; i < selectElement.options.length; i++) {
                        if (selectElement.options[i].value === selectedOption) {
                            selectElement.options[i].selected = true;
                            break;
                        }
                    }
                }
                
            });
        </script>
    </div>
    <div class="card-body">
         <div class="table-responsive ">
            <table id="tbl" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                                        @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                                        @Html.DisplayNameFor(model => model.BonsaiName)
                        </th>
                        <th>
                                        @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                                        @Html.DisplayNameFor(model => model.FengShuiMeaning)
                        </th>
                         <th>
                                        @Html.DisplayNameFor(model => model.Price)
                        </th>
                         <th>
                                         @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                                @foreach (var item in Model)
                                {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ImageOld))
                                {
                                    <div class="img_show_preview" style="background-image: url('@Url.Content("~/" + item.ImageOld)')">
                                        <img src="@Url.Content("~/" + item.ImageOld)" alt="Product Image" class="img1"/>
                                        <img src="@Url.Content("~/" + item.ImageOld)" alt="Product Image" class="img2"/>
                                    </div>
                                }
                                else
                                {
                                    <span>No Image Available</span>
                                }
                            </td>
                            <td>
                                            @Html.DisplayFor(modelItem => item.BonsaiName)
                            </td>
                            <td>
                                            @Html.Raw(item.Description)
                            </td>
                            <td>
                                            @Html.Raw(item.FengShuiMeaning)
                            </td>
                             <td>
                                            @item.Price.ToString("F3") vnđ
                            </td>
                             <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fa-sharp-duotone fa-regular fa-pen-to-square" style="color: blue"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.Id" title="View"><i class="fa-duotone fa-solid fa-eye" style="--fa-primary-color: #24a36c; --fa-secondary-color: #24a36c;"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="fa-duotone fa-regular fa-trash" style="--fa-primary-color: #ff0000; --fa-secondary-color: #ff0000;"></i></a>
                            </td>
                        </tr>
                                }
                </tbody>
            </table>
        </div>
    </div>